body {
    position: inherit;
    background-color: #053B50
}

.containerconversation1 {

    display: flex;
    background-color: rgb(237, 243, 248);
    border-left: solid 5px green; 
    border-bottom: rgb(212, 213, 213) solid 2px;
    border-right: rgb(212, 213, 213) solid 2px;
    border-top: rgb(212, 213, 213) solid 3
    2px;
}

.containerconversation2 {

    display: flex; 
    background-color: rgb(237, 243, 248);
    border-left: solid 2px  rgb(212, 213, 213) solid 2px; 
    border-bottom: rgb(212, 213, 213) solid 2px;
    border-right: rgb(212, 213, 213) solid 2px;
    border-top: rgb(212, 213, 213) solid 3
    2px;
    cursor: pointer;
    transition: 0.3s;

}

.containerconversation2:hover {
    background-color: #d6cece;
}

